div.page {
    padding-top: 3%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;

    /* <Fallback for browsers without display:grid> */
    display: block;
    /* </Fallback> */
}

div.left {
    grid-column: 1 / 5;

    /* <Fallback for browsers without display:grid> */
    padding-left: 5%;
    padding-top: 2em;
    position: fixed;
    /* </Fallback> */
}

div.right {
    grid-column: 6 / span 6;

    /* <Fallback for browsers without display:grid> */
    padding-left: 45%;
    width: 30%;
    min-width: 33em;
    /* </Fallback> */
}

div.menuitem, div.menuitemicons {
    clear: right;
    float: right;
    padding-right: 20px;
    padding-bottom: 5px;
    border-right-style: solid;
    border-right-width: 2px;
    border-right-color: rgb(133,131,131);
}
