@media (prefers-color-scheme: light) {
  :root {
    --background-colour: #fff;
    --popup-background-colour: #f9f9f9;
    --shadow-colour-rgb: 171, 171, 171;
    --text-colour: #000;
    --colour: #fb924e;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background-colour: #000;
    --popup-background-colour: #333;
    --shadow-colour-rgb: 128, 128, 128;
    --text-colour: #fff;
    --colour: #fb924e;
  }
}

@font-face {
  font-family: "Computer Modern";
}

.icon-play {
  background-image: url("icons/play.svg");
}
.icon-pause {
  background-image: url("icons/pause.svg");
}
.icon-caret-down {
  background-image: url("icons/caret-down.svg");
}
.icon-square {
  background-image: url("icons/square.svg");
}
.icon-share-square {
  background-image: url("icons/share-square.svg");
}
.icon-check-square {
  background-image: url("icons/check-square.svg");
}
.icon-to-left {
  margin-right: 1em;
}
.icon-to-right {
  margin-left: 1em;
}
.icon {
  background-repeat: no-repeat;
  background-size: 1em;
  padding-right: 1em;
}

.container {
  max-width: 1024px;
}

#chart-area svg {
  display: block;
}

#year-slider {
  margin: 1em 3em 3em 3em;
  width: calc(100% - 6em);
}


.noUi-horizontal .noUi-tooltip {
  bottom: -150%;
}

#play-button {
  white-space: nowrap;
}

#speed-and-countries {
  float: right;
}

.nowrap {
  display: flex;
  align-items: baseline;
}


.chart-text {
  fill: var(--text-colour);
}
.axis {
  color: var(--text-colour);
}

.sub-menu {
  right: 0;
  top: calc(2em - 1px);
  width: fit-content;
  background: var(--popup-background-colour);
  padding: 1em;
  box-shadow: 0 1ex 2ex 0 rgba(var(--shadow-colour-rgb), 0.2);
  border: 1px solid rgba(var(--shadow-colour-rgb), 1);
  border-radius: 1ex;
  position: absolute;
  visibility: hidden; /* hides sub-menu */
  opacity: 0;
  z-index: -1;
  white-space: nowrap;

  display: flex;
  flex-wrap: nowrap;
}

.country-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.noUi-target {
  background: var(--popup-background-colour);
  border-color: rgba(var(--shadow-colour-rgb), 0.71);
}
.noUi-connect {
  background: var(--colour);
}
.tooltip {
  z-index: 2;
  background: var(--popup-background-colour);
  color: var(--text-colour);
  box-shadow: 0 1ex 2ex 0 rgba(var(--shadow-colour-rgb), 0.2);
  border: 1px solid rgba(var(--shadow-colour-rgb), 1);
  border-radius: 1ex;
  line-height: 1;
  padding: 12px;
  pointer-events: none;
  position: absolute;
}
/* Creates a small triangle extender for the tooltip */
.tooltip:after {
  content:'';
  position: absolute;
  top: 100%;
  left: calc(50% - 5px);
  margin-left: -10px;
  width: 0;
  height: 0;
  border-top: solid 10px var(--text-colour);
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}
.tooltip-value {
  font-variant: small-caps;
}
.tooltip-continent {
  text-transform: capitalize;
}
.tooltip-countryname {
  font-size: larger;
  font-weight: bold;
  font-variant: small-caps;
  margin-top: 1ex;
  margin-bottom: 1ex;
}

.continentDiv {
  margin-right: 1em;
  color: var(--text-colour);
}
.continentDiv h3 {
  margin: 0;
}
.continentDiv label {
  padding-left: 1ex;
}
.continentDiv fieldset {
  margin: 1ex;
  margin-left: 0;
  border: 1px solid rgba(var(--shadow-colour-rgb), 1);
  padding: 1ex;
  padding-top: 0;
  border-radius: 0.5ex;
  display: initial;
}
.continentDiv legend {
  border: none;
  width: auto;
  padding: 2px;
  margin: 0;
  font-size: small;
}

.graphcontrollernavbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.graphcontroller {
  display: block;
  text-align: center;
  text-decoration: none;
  float: left;
}
